
/* Body */

body {
    background-image: url(../images/bgHarryPotter.jpg);
    background-size: cover;
    color: #ffffff;
}

/* Headings */

h1 {
    text-align: center;
    color: #bda116fa;
}

/* Fighters */

.character{
    margin-bottom: 50px;
}

.fighter {
    display: inline-block;
    height: 160px;
    width: 150px; 
    margin-right: 40px;
    background-color: #bda116fa;
}

.fighter img {
    height: 130px;
    width: 140px;
    /* margin-left: 5px; */
    margin-top: 5px;
}

.fighter p {
    margin-top: 0;
}

/* Buttons */

.attack-btn,
.restart-btn {
    color: #bda116fa;
    height: auto;
    width: auto;
    font-size: 15px;
}

.attack-btn{ margin-top: 10px; }